

.product-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product-container:hover {
    transform: translateY(-5px);
}

.product-container img {
    max-width: 100%;
    width:20cm;
    height: 20cm;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-container h4 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

.product-container div {
    margin-top: 10px;
    color: #666;
}

 .confirmation-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  
  .confirmation-content {
    text-align: center;
  }
  #update {
    padding: 10px 20px;
    background-color: #003f83;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #update:hover {
    background-color: #012246;
  }

  #update1 {
    padding: 10px 20px;
    background-color: #c70000;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #update1:hover {
    background-color: #460000;
  } 